body {
  color: #30c9a3;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header {
  max-width: 100vw;
  margin-top: -30px;
  padding: 50px 10px 10px 10px;
  background-color: #40a0db;
}

header > p {
  font-weight: 600;
  text-align: right;
  font-size: 0.8rem;
  font-style: italic;
  color: #e6f4ff;
  margin: 1em;
  padding: 1em;
}

.neck {
  color: #3077c9;
  margin: 4em 0 4em 0;
  height: 8vh;
}

.neck > p {
  font-size: 2em;
}

.container {
  -webkit-box-shadow: 0px -1px 1px 1px rgba(20, 62, 107, 1);
  -moz-box-shadow: 0px -1px 1px 1px rgba(20, 62, 107, 1);
  box-shadow: 0px -1px 1px 1px rgba(20, 62, 107, 1);
  background-color: #f5fcf9;
  width: 100%;
  height: 44vh;
  padding: 1vw;
  margin: -1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#wordForm {
  min-width: 50%;
  max-width: 90%;
  height: 75%;
  cursor: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 6em 0;
}
.btn-affirm>a, .btn-affirm>a:visited {
  text-decoration: none;
  color: #30c9a3;
}

.btn-affirm {
  text-align: left;
  cursor: pointer;
  border: solid 1px #30c9a3;
  border-radius: 4px;
  color: #30c9a3;
  font-weight: medium;
  font-size: 1.25rem;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0 0.2rem 0 0.2rem;
  background-color: #fafcfb;
  outline: none;
  display: inline-block;
  min-width: 15%;
  max-width: 25%;
  height: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.word-box {
  min-width: 60%;
  max-width: 70%;
  height: auto;
  font-weight: medium;
  font-size: 1.25rem;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0 0.2rem 0 0.2rem;
  border: 1px solid #8fcfbf;
  border-radius: 4px;
  background-color: #fafcfb;
  color: #3b8cff;
  display: inline-block;
}

.word-box[type='text'].show {
  color: #3b8cff;
  -webkit-transition: color 2s linear;
  -moz-transition: color 2s linear;
  -ms-transition: color 2s linear;
  -o-transition: color 2s linear;
  transition: color 2s linear;
}

.word-box[type='text'].hide {
  color: #fafcfb;
  -webkit-transition: color 1s linear;
  -moz-transition: color 1s linear;
  -ms-transition: color 1s linear;
  -o-transition: color 1s linear;
  transition: color 1s linear;
}

@media only screen and (max-width: 800px) {
  .neck > p {
    font-size: 2em;
  }

  header > p {
    font-size: 0.6rem;
    margin: 0.75em;
    padding: 0.75em;
  }
  .btn-affirm {
    min-width: 25%;
    max-width: 35%;
  }
}

@media only screen and (max-width: 500px) {
  .neck > p {
    font-size: 1.25em;
  }

  header > p {
    font-size: 0.5rem;
    margin: 0.6em;
    padding: 0.6em;
  }

  .btn-affirm {
    font-size: 1rem;
    padding: 0.2rem;
    margin: 0 0.15rem 0.1rem 0.15rem;
  }

  .word-box {
    font-size: 1rem;
    padding: 0.2rem;
    margin: 0 0.15rem 0.1rem 0.15rem;
  }
}

@media only screen and (min-width: 1100px) {
  .btn-affirm {
    font-size: 1.2rem;
    min-width: 10%;
    max-width: 20%;
  }
  .word-box {
    font-size: 1.2rem;
  }
}
